
  <!-- dropdown -->
  <div class='flex flex-col relative mt-10 border border-grey rounded-lg p-3'>
    <div id="dropdownButton" class='flex justify-between items-center w-full'>
      <p class='regular-text text-blue'>Praktikom</p>
      <img id="dropdownIcon" src="../assets/svg/chevron-down-icon.svg" alt=""
        class='w-6 h-6 transition-transform duration-300 transform'>
    </div>

    <!-- Dropdown menu -->
    <div id="dropdownMenu" class="absolute left-0 top-full w-full mt-2 bg-white border rounded-lg shadow-md hidden">
      <ul class="space-y-2 p-3">
        <li class="cursor-pointer border-b hover:bg-gray-100 p-2 rounded">Hari</li>
        <li class="cursor-pointer border-b hover:bg-gray-100 p-2 rounded">Minggu</li>
        <li class="cursor-pointer hover:bg-gray-100 p-2 rounded">Bulan</li>
      </ul>
    </div>
  </div>