<header class="flex justify-between items-center w-full mb-5 relative ">
  <button> <img class="w-8 h-8" src="../../assets/svg/chevron-left-icon.svg" alt=""></button>
  <p class="subheading">Home</p>
  <button id="openPopupButton">
      <img class="w-8 h-8" src="../../assets/svg/dots-icon.svg" alt="">
  </button>

  <!-- popup -->
  <div id="popup"
      class="cursor-pointer absolute subtext hidden top-0 right-0 rounded-xl border-2 bg-white z-10 w-36 flex flex-col justify-between items-center text-center border-grey px-3 py-1 text-blue">
      <div class="border-b  w-full py-2">
          <p id="closePopupButton">Pusat Bantuan</p>
      </div>
      <div class=" w-full py-2">
          <p>Laporkan Masalah</p>
      </div>
  </div>
</header>
