<nav
  class="subtext px-6 fixed justify-between flex bottom-0 left-0 right-0 bg-blue py-2"
>
  <button class="flex flex-col items-center text-white">
    <img src="../assets/svg/home-icon.svg" alt="" />
    <p>Beranda</p>
  </button>
  <button class="flex flex-col items-center text-white">
    <img src="../assets/svg/classes-icon.svg" alt="" />
    <p>Kelas</p>
  </button>
  <button class="flex flex-col items-center text-white">
    <img src="../assets/svg/chat-icon.svg" alt="" />
    <p>Pesan</p>
  </button>
  <button class="flex flex-col items-center text-white">
    <img src="../assets/svg/profile-icon.svg" alt="" />
    <p>Profil</p>
  </button>
</nav>
