<nav class="subtext px-6 fixed justify-between flex bottom-0 left-0 right-0  bg-blue py-2">
    <div class="flex flex-col justify-center items-center text-white">
        <img class="w-6 h-6" src="../../assets//svg/home-icon.svg" alt="">
        <p>Home</p>
    </div>
    <div class="flex flex-col justify-center items-center text-white">
        <img class="w-5 h-5" src="../../assets/svg/lab-icon.svg" alt="">
        <p>Laboratory</p>
    </div>
    <div class="flex flex-col justify-center items-center text-white">
        <img class="w-6 h-6" src="../../assets/svg/profile-icon.svg" alt="">
        <p>Profile</p>
    </div>
</nav>