<div>
    <!-- popup diterima -->
    <div id="popup-diterima"
        class="hidden fixed bottom-0 left-0 right-0 border-2 border-grey max-h-72  px-5 py-5 rounded-t-3xl bg-white z-10 shadow-xl">
        <div class="flex flex-col justify-center items-center gap-5">
            <h1 class="text-center font-bold subheading">Permohonan Peminjaman <br> Diterima</h1>
            <img src="../../assets/svg/checklist-icon.svg" alt="">
            <button class="regular-text bg-gradient-blue rounded-full w-full text-white py-3">
                Kirim
            </button>
        </div>
    </div>
    <!-- popup ditolak -->
    <div id="popup-ditolak"
        class="hidden fixed bottom-0 left-0 right-0 border-2 border-grey max-h-72  px-5 py-5 rounded-t-3xl bg-white z-10 shadow-xl">
        <div class="flex flex-col justify-center items-center gap-5">
            <h1 class="text-center font-bold subheading">Permohonan Peminjaman <br> Ditolak</h1>
            <textarea name="" id="" cols="30" rows="10" placeholder="Masukkan alasan ditolak"
                class="h-24 w-full border-2 border-grey rounded-lg p-2"></textarea>
            <button class="regular-text bg-gradient-blue rounded-full w-full text-white py-3">
                Kirim
            </button>
        </div>
    </div>
</div>