<div class="container mx-auto w-full">
    <div class="flex mb-4 bg-grey rounded-lg">
        <button id="left-tab"
            class="flex-1 py-1 px-4 bg-blue text-white rounded-lg focus:outline-none">Left-Content</button>
        <button id="right-tab"
            class="flex-1 py-1 px-4 bg-grey text-gray-600 rounded-lg focus:outline-none">Right-Content</button>
    </div>

    <!-- Left Content -->
    <div id="left-content" class="tab-content active">
        <p>Konten A</p>
    </div>

    <!-- Right Content -->
    <div id="right-content" class="tab-content">
        <p>Konten B</p>
    </div>
</div>